*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background-color: #FC94AF; /* Cream background */

    font-family: 'Segoe UI', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    overflow:hidden;
}

/* Center content */
.container{
    z-index:2;
}

h2{
    font-size:42px;
    color:#8b3a3a;
    font-weight:600;
}

.subtitle{
    margin-top:15px;
    font-size:18px;
    color:#6b4c4c;
}

.hearts-line{
    margin-top:20px;
    font-size:22px;
}

button{
    margin-top:30px;
    padding:12px 28px;
    border:none;
    border-radius:30px;
    background:#ff6f7d;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* Floating Emojis */
.emoji{
    position:absolute;
    font-size:20px;
    animation: floatUp linear forwards;
}
.typing{
    font-size:42px;
    font-family: 'Brush script MT', cursive;
    color:#8b3a3a;
    font-weight:600;
    border-right:3px solid #8b3a3a;
    white-space:nowrap;
    overflow:hidden;
    animation: blink 0.8s infinite;
}


/* Cursor blinking */
@keyframes blink{
    0%{ border-color:transparent; }
    50%{ border-color:#8b3a3a; }
    100%{ border-color:transparent; }
}

@keyframes floatUp{
    0%{
        transform:translateY(0);
        opacity:1;
    }
    100%{
        transform:translateY(-110vh);
        opacity:0;
    }
    
}
